/* Reset --------------------------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* imagenes de fondo ------------------------------------------------------------- */
#frutosSecos{
    background-image: url(../img/ia/vertical/Tomas_Cosentino_MACRO_OF_DRY_NUTS_FOOD_PHOTGRAPHY_aerial_view_2dbac93d-6555-4d2b-a814-5b23bec05037.png);
    background-size:cover; 
    background-repeat: no-repeat;
}
#Alimentos{
    background-image: url(../img/ia/vertical/Tomas_Cosentino_Delicious_Empanadas_close_up_shot._sony_alpha_a_19e0273d-9fe6-4670-bb4c-da671c8398f1.png);
    background-size:cover; 
    background-repeat: no-repeat;
}
#Suplementos{
    background-image: url(../img/ia/vertical/Tomas_Cosentino_Supplements_powders_pills_sachets_dark_green_co_1407dd34-2e67-45fb-a4dd-67597068eb52.png);
    background-size:cover; 
    background-repeat: no-repeat;
}
#Despensa{
    background-image: url(../img/ia/vertical/Background_image_natural_food\ legums.png);
    background-size:cover; 
    background-repeat: no-repeat;
}
#Contacto{
    background-image: url(../img/ia/vertical/Tomas_Cosentino_MACRO_OF_DRY_NUTS_FOOD_PHOTGRAPHY_aerial_view_2dbac93d-6555-4d2b-a814-5b23bec05037.png);
    background-size:cover; 
    background-repeat: no-repeat;
}
.bg-propio{
    background-color: #c96426;
    margin: 2rem;
}





/* HEADER -------------------------------------------------------------------*/

.Dsilvia {
    font-size: 5rem;
    font-family: 'Dancing Script', cursive;
    color: red;
}
.Encabezado{
    margin-bottom: 2.2rem;
}
.Encabezado .links ul li{
    list-style: none;
}
.Encabezado .links ul li a{
    background-color: #f5deb3;
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 0.8rem;
    font-size: 1.5rem;
    color: black;
}
/* main ------------------------------------------------------------------ */
.titulos {
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Dancing Script', cursive;
    color: #f5deb3;
    margin: 1.2rem;

}
.catalogo img{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 3rem; 
}

/* footer ---------------------------------------------------------------- */

.letra{
    font-family: 'Dancing Script';
    font-weight: normal;
    color: wheat;
    text-align: center;
    font-size: 2rem;
}
.Pie .redes a img{
    width: 2.5rem;
    height: 2.5rem;
}
.p{
    font-size: 1.5rem;
} 

/* formulario -------------------------------------------------------------- */
#Form{
    margin: 30px;
}
#Form .formulario label{
    font-size: 30px;
}

/* media queries------------------------------------------------------------ */
@media (max-width: 1200px) {
    .Encabezado .links ul li a{
        font-size: 1rem;
    }
    .Dsilvia{
        font-size: 5rem;
    }
    .p{
        font-size: 1.5rem;
    } 
    
}
@media (max-width: 991px) {
    .Dsilvia{
        font-size: 4rem;
    }
    .Encabezado .links ul li a{
        font-size: 1.5rem;
        padding: 0.2rem 0.4rem;
        border-radius: 1.2rem;
    }
    .d{
        display: none;
    }
    .p{
        font-size: 1.1rem;
    }
}
@media (max-width: 767px) {
    .Dsilvia{
        font-size: 4rem;
    }
    .Pie .logo_footer img{
        display: none;
    }
    .catalogo_d{
        display: none;
    }
}
@media (max-width: 575px) {
    .p{
        font-size: 1.2rem;
    }
    .Dsilvia{
        display: none;
    }
}
@media (max-width: 376px) {
    .letra{
        font-size: 1.5rem;
    }
    .Pie .redes a img{
        width: 1.9rem;
        height: 1.9rem;
    }
    p {
        margin-bottom: 0.5rem !important; 
    }
}