/* imagenes de fondo ------------------------------------------------------------- */
#frutosSecos {
    background-image: url(../img/ia/vertical/tomas-cosentino-macronutrients.png);
    @include imgbg;
  }
  
  #Alimentos {
    background-image: url(../img/ia/vertical/tomas_cosentino_delicious_empanadas_close_up_shot._sony_alpha_a.png);
    @include imgbg;
  }
  
  #Suplementos {
    background-image: url(../img/ia/vertical/tomas_cosentino_supplements_powders_pills_sachets_dark_green.png);
    @include imgbg;
  }
  
  #Despensa {
    background-image: url(../img/ia/vertical/background_image_natural_food-legums.png);
    @include imgbg;
  }
  
  .bg-propio {
    background-color: $colorPrincipal;
    margin: 2rem;
  }