/* formulario -------------------------------------------------------------- */
.tamano {
    label {
      margin-left: 1rem;
    }
  
    .btn-propio {
      background-color: $colorSecundario !important;
    }

    .btn-propio1 {
      background-color: $formcheck !important;
    }
  }