/* formulario -------------------------------------------------------------- */
.tamano {
    label {
      margin-left: 1rem;
    }
  
    .btn-propio {
      background-color: #f5deb3 !important;
    }

    .btn-propio1 {
      background-color: blue !important;
    }
  }