/* HEADER -------------------------------------------------------------------*/

.Dsilvia {
    @include tituloPinc;
  }
  
  .Encabezado {
    margin-bottom: 2.2rem;
  
    .links {
      ul {
        li {
          list-style: none;
  
          a {
            @include enlaces;
  
            &:hover {
              background-color: white;
            }
          }
        }
      }
    }
  }