/* HEADER -------------------------------------------------------------------*/

.Dsilvia {
    font-size: 5rem;
    font-family: 'Dancing Script', cursive;
    color: red;
  }
  
  .Encabezado {
    margin-bottom: 2.2rem;
  
    .links {
      ul {
        li {
          list-style: none;
  
          a {
            background-color: #f5deb3;
            text-decoration: none;
            padding: 1rem 1.5rem;
            border-radius: 0.8rem;
            font-size: 1.5rem;
            color: black;
  
            &:hover {
              background-color: white;
            }
          }
        }
      }
    }
  }