@mixin reset{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
@mixin imgbg{
    background-size: cover;
    background-repeat: no-repeat;
}
@mixin tituloPinc{
    font-size: 5rem;
    font-family: $fontCursive;
    color: $tituloPrincipal;
}
@mixin enlaces{
    background-color: $colorSecundario;
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 0.8rem;
    font-size: 1.5rem;
    color: $textos;
}
@mixin titulos{
    text-align: center;
    font-size: 3.5rem;
    font-family: $fontCursive;
    color: $colorSecundario;
    margin: 1.2rem;
}
@mixin catalogImg{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 3rem;
}
@mixin letra{
    font-family: $fontCursive;
    font-weight: normal;
    color: $colorSecundario;
    text-align: center;
    font-size: 2rem;
}
@mixin transfor{
    transform: scale(1);
    transition: all 800ms;
}