/* Transformaciones -------------------------------------------------------------- */
.scalex50{
    @include transfor;
  }
.scalex50:hover{
    transform: scale(1.5);
    z-index: 2;
  }
.scalex30{
    @include transfor;
  }
.scalex30:hover{
    transform: scale(1.3);
    z-index: 2;
  }