/* Reset --------------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/* imagenes de fondo ------------------------------------------------------------- */
#frutosSecos {
  background-image: url(../img/ia/vertical/tomas-cosentino-macronutrients.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#Alimentos {
  background-image: url(../img/ia/vertical/tomas_cosentino_delicious_empanadas_close_up_shot._sony_alpha_a.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#Suplementos {
  background-image: url(../img/ia/vertical/tomas_cosentino_supplements_powders_pills_sachets_dark_green.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#Despensa {
  background-image: url(../img/ia/vertical/background_image_natural_food-legums.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-propio {
  background-color: #c96426;
  margin: 2rem;
}

/* HEADER -------------------------------------------------------------------*/
.Dsilvia {
  font-size: 5rem;
  font-family: "Dancing Script", cursive;
  color: #a5e584;
}

.Encabezado {
  margin-bottom: 2.2rem;
}
.Encabezado .links ul li {
  list-style: none;
}
.Encabezado .links ul li a {
  background-color: #f5deb3;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 0.8rem;
  font-size: 1.5rem;
  color: black;
}
.Encabezado .links ul li a:hover {
  background-color: white;
}

/* main ------------------------------------------------------------------ */
.titulos {
  text-align: center;
  font-size: 3.5rem;
  font-family: "Dancing Script", cursive;
  color: #f5deb3;
  margin: 1.2rem;
}

.catalogo img {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 3rem;
}

/* formulario -------------------------------------------------------------- */
.tamano label {
  margin-left: 1rem;
}
.tamano .btn-propio {
  background-color: #f5deb3 !important;
}
.tamano .btn-propio1 {
  background-color: blue !important;
}

/* footer ---------------------------------------------------------------- */
.letra {
  font-family: "Dancing Script", cursive;
  font-weight: normal;
  color: #f5deb3;
  text-align: center;
  font-size: 2rem;
}

.Pie .redes a img {
  width: 2.5rem;
  height: 2.5rem;
}

.p {
  font-size: 1.5rem;
}

/* media queries------------------------------------------------------------ */
@media (max-width: 1200px) {
  .Encabezado .links ul li a {
    font-size: 1rem;
  }
  .Dsilvia {
    font-size: 5rem;
  }
  .p {
    font-size: 1.5rem;
  }
}
@media (max-width: 991px) {
  .Dsilvia {
    font-size: 4rem;
  }
  .Encabezado .links ul li a {
    font-size: 1.5rem;
    padding: 0.2rem 0.4rem;
    border-radius: 1.2rem;
  }
  .d {
    display: none;
  }
  .p {
    font-size: 1.1rem;
  }
}
@media (max-width: 767px) {
  .Dsilvia {
    font-size: 4rem;
  }
  .Pie .logo_footer img {
    display: none;
  }
  .catalogo_d {
    display: none;
  }
}
@media (min-width: 575px) {
  .ap {
    display: none;
  }
}
@media (max-width: 575px) {
  .p {
    font-size: 1.2rem;
  }
  .dis {
    display: none;
  }
  .Dsilvia {
    display: none;
  }
}
@media (max-width: 376px) {
  .letra {
    font-size: 2rem;
  }
  .Pie .redes a img {
    width: 2rem;
    height: 2rem;
  }
  p {
    margin-bottom: 0.5rem !important;
  }
}
/* Transformaciones -------------------------------------------------------------- */
.scalex50 {
  transform: scale(1);
  transition: all 800ms;
}

.scalex50:hover {
  transform: scale(1.5);
  z-index: 2;
}

.scalex30 {
  transform: scale(1);
  transition: all 800ms;
}

.scalex30:hover {
  transform: scale(1.3);
  z-index: 2;
}/*# sourceMappingURL=main.css.map */